<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.udan.bdsp.integration.mapper.SyncDataSourceTypeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.udan.bdsp.integration.entity.SyncDataSourceTypeEntity">
        <id column="id" property="id"/>
        <result column="type_code" property="typeCode"/>
        <result column="category_code" property="categoryCode"/>
        <result column="default_port" property="defaultPort"/>
        <result column="requires_auth" property="requiresAuth"/>
        <result column="requires_database" property="requiresDatabase"/>
        <result column="config_template" property="configTemplate" typeHandler="com.udan.bdsp.common.handler.JsonNodeTypeHandler"/>
        <result column="field_definitions" property="fieldDefinitions" typeHandler="com.udan.bdsp.common.handler.JsonNodeTypeHandler"/>
        <result column="status" property="status"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, type_code, category_code, default_port,
        requires_auth, requires_database, config_template,
        field_definitions, status, create_time, update_time
    </sql>

</mapper>